.state-label{
    fill:white;
    stroke:black;
    stroke-width: 1;
    font-weight: bold;
}

.mouseover-label{
    visibility: hidden;
}

.mouseover-label-selected{
    visibility:visible;
    fill:black;
}

.small-multiples-border{
    fill:white;
    stroke:black;
    stroke-width: 1;
}